$f-primary: Roboto, sans-serif;
$f-sans:  Open_Sans, sans-serif;
$font-size-primary: 16px;
$c-orange: #f59448;
$c-orange-dark: #ff4747;
$c-blue: #004f9a;
$c-blue-head: #0d2f4b;
$c-gray: #e5eef6;
$c-main: #414042;
$c-gray-border: #dfdedc;
$c-green: #1a7f26;
